/* media-query-large.css - Styles for wider screens */

@media screen and (min-width: 500px) {
    header {
        background-color: #000;
        color: #fff;
    }
    
    /* Change to two columns on wider screens */
    main {
        grid-template-columns: 1fr 1fr;
    }
}